html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto;
  color: #58595B;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #58595B;
}

p, ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 1920px;
  margin: 0 auto;
}

.top {
  flex-grow: 1;
}
.top .header {
  display: flex;
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  height: 150px;
}
.top .header .header-top-left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 25px 22px;
}
.top .header .header-top-left .header-top-left-phone-container, .top .header .header-top-left .header-top-left-address-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.top .header .header-top-left .header-top-left-phone-container .header-phone, .top .header .header-top-left .header-top-left-address-container .header-phone {
  display: flex;
  align-items: center;
}
.top .header .header-top-left .header-top-left-phone-container .header-top-left-phone-container__phone-number, .top .header .header-top-left .header-top-left-address-container .header-top-left-phone-container__phone-number {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #1A1A1A;
  margin-left: 9px;
}
.top .header .header-top-left .header-top-left-phone-container .header-top-left-phone-container__phone-text, .top .header .header-top-left .header-top-left-address-container .header-top-left-phone-container__phone-text {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #0095cc;
}
.top .header .header-top-left .header-top-left-address-container {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #58595B;
  align-items: flex-start;
}
.top .header .header-top-left .header-top-left-address-container .header-address {
  display: flex;
  align-items: center;
}
.top .header .header-top-left .header-top-left-address-container .header-email {
  display: flex;
  align-items: center;
}
.top .header .header-top-left .header-top-left-address-container .header-address-text {
  margin-left: 13px;
}
.top .header .header-top-left .header-top-left-address-container .header-email-container .header__email-icon {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 150%;
  color: #7CA92D;
}
.top .header .header-top-left .header-top-left-address-container .header-email-container .header__email {
  margin-left: 10px;
}
.top .header .header-top-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px 49px 25px 10px;
}
.top .header .header-top-right .search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  width: 600px;
  height: 48px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
}
.top .header .header-top-right .search-box .search-box-left {
  display: flex;
  align-items: center;
}
.top .header .header-top-right .search-box .search-icon {
  margin-left: 18px;
  margin-right: 12px;
}
.top .header .header-top-right .search-box .search-box-caret {
  margin-left: 5px;
}
.top .header .header-top-right .search-box-categories {
  font-size: 14px;
  line-height: 150%;
  color: #BDBDBD;
}
.top .header .header-top-right .search-box-category-caret {
  margin-left: 5px;
}
.top .header .cart-container .sign-in-link {
  border-bottom: 1px dashed #58595B;
}
.top .header .cart-container .sign-up-link {
  border-bottom: 1px dashed #58595B;
  margin-left: 16px;
}
.top .header .cart-container .header-cart-container {
  display: flex;
  width: 100%;
  padding-top: 33px;
  text-align: center;
}
.top .header .cart-container .header-cart-container .header-cart-link {
  background-color: #7CA92D;
  border-radius: 2px;
  align-items: center;
  display: flex;
  padding: 11px 14px;
}
.top .header .cart-container .cart-description {
  padding-left: 11px;
}
.top .header .cart-container .cart-description p:first-child {
  margin-left: -26px;
}
.top .header .cart-container .cart-description .cart-description__price, .top .header .cart-container .cart-description .cart-description__pieces {
  color: #000;
  font-weight: bold;
}
.top .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.top .menu-container .menu-left {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.top .menu-container .menu-left .menu-left-text {
  color: #1A1A1A;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 13px;
}
.top .menu-container .menu-right {
  display: flex;
  align-items: center;
  padding-right: 14px;
}
.top .menu-container .menu-right .menu-right-favorites {
  margin-right: 32px;
}
.top .menu-container .menu-right .menu-right-favorites .favorites-text {
  margin-left: 14px;
  margin-right: 10px;
}
.top .menu-container .menu-right .menu-right-favorites .favorites-quantity {
  color: #000;
  font-weight: 500;
}
.top .menu-container .menu-right .menu-right-compare .compare-text {
  margin-left: 10px;
  margin-right: 10px;
}
.top .menu-container .menu-right .menu-right-compare .compare-quantity {
  color: #000;
  font-weight: 500;
}
.top .menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  padding-left: 80px;
  width: 1280px;
}
.top .menu .menu-link {
  display: block;
  padding: 15px 17px;
}
.top .menu .menu-link:hover {
  color: #7CA92D;
}
.top .content {
  background-color: #F7F7F7;
  width: 100%;
  height: 300px;
}

.headers-footer {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
}

.headers-footer-top {
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-contacts {
  margin-bottom: 13px;
}

.p-footer {
  margin: 13px 0;
}

.footer-phone {
  margin-bottom: 10px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  height: 296px;
  color: #1A1A1A;
}
.footer-top .footer-left-container {
  padding-top: 30px;
  padding-left: 20px;
}
.footer-top .footer-left-container .footer-flex {
  display: flex;
  align-items: center;
}
.footer-top .footer-left-container .footer-flex .footer-address {
  margin-left: 12px;
}
.footer-top .footer-left-container .footer-flex .footer-email, .footer-top .footer-left-container .footer-flex .footer-phone {
  margin-left: 10px;
}
.footer-top .footer-right-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 80px;
  width: 50%;
}
.footer-top .footer-right-container .footer-detials {
  width: 277px;
  color: #1A1A1A;
}
.footer-top .footer-right-container .footer-menu {
  list-style: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}
.footer-top .footer-right-container .footer-menu .footer-menu-link {
  display: block;
  padding: 10px 17px;
  color: #1A1A1A;
}
.footer-top .footer-right-container .footer-menu .footer-menu-link:hover {
  color: #7CA92D;
}
.footer-top .footer-right-container .footer-products {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}
.footer-top .footer-right-container .footer-products-link {
  color: #1A1A1A;
}

.footer-menu-link-first {
  padding: 10px 17px;
  padding-top: 0;
}

/*# sourceMappingURL=styles.css.map */
